<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "br.com.fmorais.apps.swHub"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>SW Hub</name>

  <description>
      Find players to do Raid and RTA together.
  </description>

  <author href="https://www.fmorais.com.br" email="suporte@fmorais.com.br">
      Wallas F. Morais
  </author>

</widget>
